<p>
  pipes works!
</p>
 <h2>Power Booster</h2>
  <p>Super power boost</p>
  <div>
    <label>Name: </label><input #name (keyup)="change(name.value)" type="text">
    <p>In lowercase: {{value | lowercase}}</p>
    <p>In uppercase: {{value | uppercase}}</p>
  </div>
  <div>
    <p>Today is : {{today | date}}</p>
    <p>Today is : {{today | date:'fullDate'}}</p>
        <p>Today is : {{today | date:'medium'}}</p>
        <p>Today is : {{today | date:'shortTime'}}</p>
  </div>
  <div>
    <p>A: {{a | currency:'USD':false}}</p>
    <p>B: {{b | currency:'INR':true:'4.3-3'}}</p>
  </div>
  <div> 
    <p>{{str | slice:0:4}}</p>
    <p>{{str | slice:1:3}}</p>
    <p>{{str | slice:-13}}</p>
    <p>{{str | slice:100}}</p>
    <p>{{str | slice:-100}}</p>
  </div>
  <div>
     <pre>{{raju | json}}</pre>
  </div>









  