<p>
  forms works!
</p>


<div class="col-xs-6 col-xs-offset-3">
   <form name="validate1" #form="ngForm" novalidate>
 
       <input type="email" class="form-control" id="fname" name="fname" #fname="ngModel" required [(ngModel)]="firstName" email/>
       <div *ngIf="fname.invalid && (fname.dirty || fname.touched)">
         asd
             <div *ngIf="fname.errors.required&&fname.errors.email" class="alert alert-danger"> Please enter any value</div>
             <div *ngIf="fname.errors.email && !fname.errors.required" class="alert alert-danger">email</div>
       </div>
         <button type="submit" class="btn btn-default">Submit</button>
     </form>
 </div>
  
